<div class="footer-wrap">
	<div class="footer-inner">
		<div class="footer-slider-box">
			<div class="slider-widget widget-size">
				<ul class="footer-bx-slider">
					<li><img src="../image/footer/con_logo1.png" alt="악사다이렉트"></li>
					<li><img src="../image/footer/con_logo2.png" alt="메리츠화재"></li>
					<li><img src="../image/footer/con_logo3.png" alt="동부화재"></li>
					<li><img src="../image/footer/con_logo4.png" alt="KB손해보험"></li>
					<li><img src="../image/footer/con_logo5.png" alt="현대해상"></li>
					<li><img src="../image/footer/con_logo6.png" alt="흥국이유다이렉트"></li>
					<li><img src="../image/footer/con_logo7.png" alt="MG손해보험"></li>
				</ul>
			</div>
		</div>
		<div class="footer-address-box">
			<div class="widget-size">
				<p class="footer-logo"><img src="../image/footer/footer_logo.png" alt=""></p>
				<address class="footer-address-area">
					<div class="footer-address-text">
						<p class="ar-p"><span class="ar-text">플랫폼 제공 : ㈜플러그월드와이드<strong class="address-bar">l</strong>서울시 마포구 신촌로128(노고산로)<strong class="address-bar">l</strong>사업자등록번호 : 114-87-17024<strong class="address-bar">l</strong>대표자 : 황석봉</span></p>
						<p class="ar-p"><span class="ar-text">개인정보 위탁사(장기보험) : ㈜마케팅인슈<strong class="address-bar">l</strong>사업자등록번호 114-87-23491<strong class="address-bar">l</strong>대리점 등록번호 : 제 2015020003호<strong class="address-bar">l</strong>대표자  : 전종진</span></p>
					</div>
				</address>
			</div>
		</div>
	</div>
</div>
