<div class="header-wrap">
	<div class="header-top-wrap">
		<div class="header-top-inner widget-size">
			<h1 id="header-logo"><a href="../main/index.html"><img src="../image/header/header_logo.png" alt="로고" title="굿다이렉트"></a></h1>
			<div class="header-search-area">
				<form method="get" accept-charset="utf-8" action="../search/search.html">
					<fieldset>
						<div class="header-search-inner">
							<div class="header-search-box">
								<input type="text" value="" class="input-widget input-type-search" placeholder="검색어를 입력하세요.">
								<button type="submit" class="btn-type-search"><img src="../image/icon/i_search.png" alt="검색" title="검색"></button>
							</div>
							<div class="header-keyword-box">
								<p class="keyword-icon"></p>
								<ul>
									<li>연관검색어</li>
									<li><a href="../search/search.html">성인의료비</a></li>
									<li><a href="../search/search.html">유병자건강보험</a></li>
									<li><a href="../search/search.html">비갱신형암</a></li>
								</ul>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="header-cs-banner">
				<p class="cs-icon"></p>
				<div class="cs-text">
					<p class="cs-p-1">상담 콜 전화번호</p>
					<p class="cs-p-2"><strong class="point">1688-0889</strong></p>
				</div>
			</div>
		</div>
	</div>
	<div class="header-gnb-wrap">
		<div class="header-gnb-inner widget-size">
			<nav id="navigation" class="header-nav-area">
				<ul>
					<li class="sub-nav">
						<a href="../product/list.html" class="active">암</a>
						<div class="nav-sub-category hide">
							<ul>
								<li><a href="../product/list.html" class="active">암(갱신형)</a></li>
								<li><a href="../product/list.html">암(비갱신형)</a></li>
							</ul>
						</div>
					</li>
					<li><a href="../product/list.html">의료실비</a></li>
					<li><a href="../product/list.html">치아</a></li>
					<li><a href="../product/list.html">실버</a></li>
					<li><a href="../product/list.html">유병자</a></li>
					<li><a href="../product/list.html">어린이·태아</a></li>
					<li><a href="../product/list.html">운전자</a></li>
					<li><a href="../product/list.html">정기·종신</a></li>
					<li><a href="../product/list.html">연금</a></li>
					<li><a href="../product/list_direct.html">자동차</a></li>
				</ul>
			</nav>
			<div class="header-allcate-area">
				<a id="sub-all-cate" href="javascript:void(0);" onclick="allCategory(this);">보험사 및 서비스 더보기</a>
				<div class="all-sub-category hide">
					<div class="cate-line-box">
						<div class="cate-title">생명보험사</div>
						<div class="cate-list">
							<ul>
								<li><a href="../product/list_life.html">라이나생명</a></li>
								<li><a href="../product/list_life.html">동양생명</a></li>
							</ul>
						</div>
					</div>
					<div class="cate-line-box">
						<div class="cate-title">손해보험사</div>
						<div class="cate-list">
							<ul>
								<li><a href="../product/list.html">KB손해보험</a></li>
								<li><a href="../product/list.html">메리츠화재</a></li>
								<li><a href="../product/list.html">MG손해보험</a></li>
								<li><a href="../product/list.html">동부화재</a></li>
								<li><a href="../product/list.html">한화손해보험</a></li>
								<li><a href="../product/list.html">흥국화재</a></li>
							</ul>
						</div>
					</div>
					<div class="cate-line-box">
						<div class="cate-title">자동차보험</div>
						<div class="cate-list">
							<ul>
								<li><a href="../product/detail_direct.html">AXA다이렉트</a></li>
								<li><a href="../product/detail_direct.html">KB손해보험</a></li>
								<li><a href="../product/detail_direct.html">MG JOY다이렉트</a></li>
								<li><a href="../product/detail_direct.html">동부화재 다이렉트 </a></li>
								<li><a href="../product/detail_direct.html">롯데 하우머치 다이렉트</a></li>
								<li><a href="../product/detail_direct.html">메리츠 다이렉트</a></li>
								<li><a href="../product/detail_direct.html">한화 다이렉트</a></li>
								<li><a href="../product/detail_direct.html">현대해상 하이카 다이렉트</a></li>
								<li><a href="../product/detail_direct.html">흥국 화재 이유 다이렉트</a></li>
							</ul>
						</div>
					</div>
					<div class="cate-line-box">
						<div class="cate-title">서비스</div>
						<div class="cate-list">
							<ul>
								<li><a href="../smart/smart_price.html">스마트 가격비교 서비스</a></li>
								<li><a href="../smart/smart_product.html">스마트 상품비교 서비스</a></li>
								<li><a href="../goodtip/goodtip.html">굿다이렉트 굿팁</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="cate-dimd-bg" class="hide" onclick="allCateClose();"></div>
</div>

