<div class="quick-wrap">
	<div class="quick-inner">
		<div class="quick-menu">
			<div class="quick-cs-banner">
				<a href="javascript:void(0);" onclick="popupActions(this,'layer-pop-widget','popup','../popup/cs_form_pop_2');">
					<p class="cs-p">1688</p>
					<p class="cs-p">0889</p>
					<p class="cs-p">상담 신청</p>
				</a>
			</div>
			<ul class="quick-menu-ul">
				<li>
					<a href="javascript:void(0);" onclick="popupActions(this,'layer-pop-widget','popup','../popup/insu_info_pop');">
						<p class="menu-icon icon1"><img src="../image/icon/i_r_icon1.png" alt="아이콘1"><span class="count"><strong>1</strong></span></p>
						<p class="menu-text">1:1</p>
						<p class="menu-text">상담톡</p>
					</a>
				</li>
				<li>
					<a href="../goodtip/goodtip.html">
						<p class="menu-icon icon2"><img src="../image/icon/i_r_icon2.png" alt="아이콘2"></p>
						<p class="menu-text">더많은</p>
						<p class="menu-text">보험지식</p>
					</a>
				</li>
				<li>
					<a href="../smart/smart_product.html">
						<p class="menu-icon icon3"><img src="../image/icon/i_r_icon3.png" alt="아이콘3"></p>
						<p class="menu-text">상품비교</p>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onclick="popupActions(this,'layer-pop-widget','popup','../popup/insu_service_pop');">
						<p class="menu-icon icon4"><img src="../image/icon/i_r_icon4.png" alt="아이콘4"></p>
						<p class="menu-text">보험</p>
						<p class="menu-text">직접가입</p>
					</a>
				</li>
			</ul>
		</div>
		<p class="quick-top-btn"><a href="javascript:void(0);" onclick="topMove();"><img src="../image/quick/quick_top.png" alt="위로이동" title="상단이동"></a></p>
	</div>
</div>
