@charset 'utf-8';

.search-widget-wrap { overflow:hidden; padding:40px 0 60px; background-color:#fff; }


//검색 결과 리스트
.search-result-widget {
	.result-list-box { margin:25px 0 0 0;
		&:first-child { margin:20px 0 0; }
		.result-title { display:table; width:100%; padding:0 0 7px; border-bottom:2px solid $borderColor-4;
			.title-text { float:left;
				h3 { float:left; font-size:$fSize-m; }
				.result-count { float:left; margin:0 0 0 5px; line-height:22px; font-size:$fSize-r; color:$fColor-2; }
			}
			.result-more-btn { float:right;
				.text { float:left; line-height:20px; }
				.more-btn { float:right; margin:0 0 0 10px; }
			}
		}
		.result-list-ul { padding:20px;
			ul {
				li { line-height:24px;
					a { display:block; color:$fColor-2;
						&:hover { color:$baseColor2; text-decoration:underline; }
					}
				}
			}
		}
		&.list-box2,
		&.list-box3 {
			li { margin:25px 0 0;
				&:first-child {margin:0;}
			}
		}
	}
}


//검색 결과 없을 시
.no-result-box { padding:100px 0; border-top:2px solid $borderColor-4;
	.no-data-massage { text-align:center;
		.no-data-icon {
			img { display:block; margin:0 auto; }
		}
		.no-data-title { margin:30px 0 0 0; font-size:$fSize-b; color:$baseColor2; }
		.no-data-desc { margin:5px 0 0 0; font-size:$fSize-m; }
	}
}

