<div class="aside_top">
	<div><a href="../main/index.html"><img src="../image/aside/a_logo.png" alt=""></a></div>
	<div class="aside_close"><img src="../image/aside/close_btn.png" alt=""></div>
</div>
<div class="aside_cs">
	<div>
		<a href="tel:16880889"><span></span>1688-0889</a>
	</div>
	<div>
		<a href="javascript:void(0);" onclick="popupActions(this,'layer-pop-widget','popup','../popup/cs_form_pop_1');" class="agree-layer-open"><span></span>상담신청</a>
	</div>
</div>
<div class="aisde_tab_wrap list-tab-widget" >
	<div class="left_tab tab-nav-widget">
		<ul class="list-type-2">
			<li class="active" rel="tab-list-1"><span class="tab_icon1"></span><span><a href="javascript:void(0);">1:1 상담톡</a></span></li>
			<li rel="tab-list-2"><span class="tab_icon2"></span><span><a href="javascript:void(0);">보험사별</a></span></li>
			<li rel="tab-list-3"><span class="tab_icon3"></span><span><a href="javascript:void(0);">보험직접가입</a></span></li>
			<li rel="tab-list-4"><span class="tab_icon4"></span><span><a href="javascript:void(0);">서비스</a></span></li>
			<li rel="tab-list-5"><span class="tab_icon5"></span><span><a href="javascript:void(0);">고객센터</a></span></li>
		</ul>
		<div class="left_view">
			<p>나에게 딱 맞춘</p>
			<p><img src="../image/aside/left_view_icon.png" alt=""></p>
			<p class="bold">보험 추천</p>
			<p class="bold">서비스</p>
			<p><a href="">알아보기&nbsp;></a></p>
		</div>
	</div>
	<div class="right_contents tab-contents-widget">
		<div id="tab-list-1" class="basic-tab-contents">
			<ul>
				<li><strong>일반보험</strong></li>
				<li>동양생명</li>
				<li>라이나생명</li>
				<li>메리츠화재</li>
				<li>한화손해보험</li>
				<li>흥국화재</li>
				<li>KB손해보험</li>
				<li>MG손해보험</li>
			</ul>
			<ul>
				<li><strong>자동차보험</strong></li>
				<li>동부화재 다이렉트</li>
				<li>롯데 하우머치 다이렉트</li>
				<li>메리츠 다이렉트</li>
				<li>한화 다이렉트</li>
				<li>현대해상 하이카 다이렉트</li>
				<li>흥국화재 이유 다이렉트</li>
				<li>AXA 다이렉트</li>
				<li>KB매직카 다이렉트</li>
				<li>MG JOY 다이렉트</li>
			</ul>
		</div>
		<div id="tab-list-2" class="basic-tab-contents">
			<ul>
				<li><strong>내용2</strong></li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
			</ul>
			<ul>
				<li><strong>내용2</strong></li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
			</ul>
		</div>
		<div id="tab-list-3" class="basic-tab-contents">
			<ul>
				<li><strong>내용3</strong></li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
			</ul>
			<ul>
				<li><strong>내용3</strong></li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
			</ul>
		</div>
		<div id="tab-list-4" class="basic-tab-contents">
			<ul>
				<li><strong>내용4</strong></li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
			</ul>
			<ul>
				<li><strong>내용4</strong></li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
			</ul>
		</div>
		<div id="tab-list-5" class="basic-tab-contents">
			<ul>
				<li><strong>내용5</strong></li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
			</ul>
			<ul>
				<li><strong>내용5</strong></li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
				<li>내용</li>
			</ul>
		</div>
	</div>
</div>

