<div class="header-wrap">
	<div class="header_top_wrap">
		<div class="header_top_inner">
			<div class="aside_btn"><img src="../image/icon/i_aside.png" alt=""></div>
			<div class="header_logo"><a href="../main/index.html"><img src="../image/header/header_logo.png" alt=""></a></div>
			<div class="header_cs bold"><a href="tel:16880889">1688-0889</a></div>
		</div>
		<div class="header_search_wrap">
			<form method="get" accept-charset="utf-8" action="../search/search.html">
				<fieldset>
					<div class="header_search_inner">
						<div class="header_search_box">
							<div class="header_inner_search">
								<input type="text" value="" class="input_type_search" placeholder="검색어를 입력하세요.">
								<button type="submit" class="btn_type_search"><img src="../image/icon/i_search.png" alt="검색" title="검색"></button>
							</div>
						</div>
						<div class="header_keyword_box">
							<ul>
								<li><span class="keyword_icon"></span>연관검색어</li>
								<li><a href="../search/search.html">성인의료비</a></li>
								<li><a href="../search/search.html">유병자건강보험</a></li>
								<li><a href="../search/search.html">비갱신형암</a></li>
							</ul>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<div class="header_gnb">
		<div class="slider-widget widget-size">
			<ul class="header-bx-slider nav-wrapper">
				<li><a href="../product/list.html">암</a></li>
				<li><a href="../product/list_direct.html">의료실비</a></li>
				<li><a href="../product/list.html">치아</a></li>
				<li><a href="../product/list.html">실버</a></li>
				<li><a href="../product/list.html">유병자</a></li>
				<li><a href="../product/list.html">암</a></li>
				<li><a href="../product/list.html">의료실비</a></li>
				<li><a href="../product/list.html">치아</a></li>
				<li><a href="../product/list.html">실버</a></li>
				<li><a href="../product/list.html">유병자</a></li>
			</ul>
		</div>
	</div>
</div>
